body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.f-h1 {
  font-size: 4em;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #732c4e;
  line-height: 1.1em;
  letter-spacing: -0.035em;
}

.f-h2 {
  font-size: 3em;
  font-family: "Inter", sans-serif;
  color: #7d7d7d;
  margin: 0;
  padding-top: 1em;
  font-weight: 800;
  color: #732c4e;
  line-height: 1.2em;
  letter-spacing: -0.035em;
}

.f-h3 {
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.f-p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #393939;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.f-p a {
  text-decoration: none;
  color: #ffffff;
}

.f-BlueFont {
  color: #068095;
}

.f-i {
  font-style: italic;
}

.f-b {
  font-weight: 800;
}

.f-TextCenter {
  text-align: center;
}

.f-TextLeft {
  text-align: left;
}

.f-MarginAuto {
  margin: 0 auto;
}

.f-CheckListIcon {
  color: #b8d30c;
}

.f-BulletPointIcon {
  color: #732c4e;
}

.f-Button {
  background-color: #068095;
  color: #ffffff;
  padding: 0.8em;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin: 0.8em;
  transition: 0.3s ease-in background-color, 0.2s ease-in color;
  text-transform: uppercase;
}
.f-Button:hover {
  background-color: #b8d30c;
  color: #7d7d7d;
}

.f-SectionTitle {
  width: 70%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 4em;
}

.f-Lottie {
  width: 30%;
  margin: 0 1em;
}

#f-NavBarLinkDiv {
  display: flex;
}
#f-NavBarLinkDiv .is-active {
  border-bottom: 2px solid #068095;
}
#f-NavBarLinkDiv .f-AppBarLinks {
  color: #068095;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  padding: 0.5em;
  margin: 0.8em;
  transition: all 200ms ease-in-out;
}
#f-NavBarLinkDiv .f-AppBarLinks:hover {
  border-bottom: 2px solid #068095;
}

#f-NavigationBar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
#f-NavigationBar #f-NavbarLogo {
  width: 25%;
}

#f-BigLogoContainer {
  background-image: url("./Images/index-bgImg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  padding: 0 0.5em;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
#f-BigLogoContainer #f-BigLogo {
  width: 40%;
}
#f-BigLogoContainer #f-BigLogo img {
  width: 100%;
  border-radius: 7px;
  box-shadow: -2px 3px 10px -3px #7d7d7d;
}
#f-BigLogoContainer #f-AnimationDiv {
  width: 300px;
  height: 300px;
  position: relative;
}
#f-BigLogoContainer #f-AnimationDiv .test {
  width: 30%;
  border-radius: 4px;
  position: absolute;
  margin: 1em;
}
#f-BigLogoContainer #f-AnimationDiv #blue {
  top: 0;
  left: 0;
  z-index: 2;
}
#f-BigLogoContainer #f-AnimationDiv #green {
  top: 0;
  right: 0;
  z-index: 3;
}
#f-BigLogoContainer #f-AnimationDiv #peach {
  bottom: 0;
  left: 0;
  z-index: -6;
}
#f-BigLogoContainer #f-AnimationDiv #purple {
  bottom: 0;
  right: 0;
  z-index: -1;
}
#f-BigLogoContainer #f-BigLogoContainer-Text {
  width: 50%;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

#f-CardContainer {
  width: 100%;
  padding: 3em 0;
  background-color: #068095;
  display: flex;
  justify-content: space-evenly;
}

.f-LottieMediaCard {
  width: 20%;
}
.f-LottieMediaCard h3 {
  color: #ffffff;
}

#f-PartnerLogosContainer {
  width: 80%;
  margin: 7em auto;
  display: block;
  padding: 3em;
}
#f-PartnerLogosContainer #f-PartnerLogosContainer-Logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#f-PartnerLogosContainer #f-PartnerLogosContainer-Logos .f-PartnerLogo {
  width: 8vw;
  padding: 1em;
  margin: 0 2em;
}

#f-test {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.swiper-container {
  width: 80%;
  margin: 0 auto;
  color: transparent;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-wrapper {
  padding-inline-start: 0;
  display: flex;
}

.swiper-button-prev, .swiper-button-next {
  color: #068095 !important;
}

.swiper-pagination-bullet {
  background-color: #068095 !important;
}

.f-testimonialBackground {
  width: 100%;
  background-color: #E8DCE2;
  padding: 3em 0;
}
.f-testimonialBackground .f-TestimonialCard {
  width: 60%;
  padding: 1.5em;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  background-color: #8A4F6C;
  color: #ffffff;
  border-radius: 14px;
}
.f-testimonialBackground .f-TestimonialCard #f-TestimonialCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-testimonialBackground .f-TestimonialCard #f-TestimonialCardHeader #f-TestimonialHeaderDetails {
  display: block;
  text-align: left;
}
.f-testimonialBackground .f-TestimonialCard p {
  color: #ffffff;
  font-weight: 300;
}
.f-testimonialBackground .f-TestimonialCard:nth-child(even) {
  background-color: #732c4e;
}

#f-ContactUsButtonContainer {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#f-ContactUsButtonContainer #f-LottieDiv {
  width: 30%;
}

footer {
  background-color: #068095;
  color: #ffffff;
  padding: 2em 1em;
  font-family: "Roboto", sans-serif;
}
footer #f-BigColumnDiv {
  width: 80%;
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
footer #f-BigColumnDiv .f-FooterColumn {
  margin: 0 2em;
}
footer #f-BigColumnDiv #f-LogoColumn {
  width: 30%;
}
footer #f-BigColumnDiv #f-LogoColumn img {
  margin: 1em auto;
  width: 90%;
}
footer #f-BigColumnDiv #f-OurCompanyColumn {
  width: 20%;
  display: block;
}
footer #f-BigColumnDiv #f-OurCompanyColumn #f-FooterLinks ul {
  padding: 0;
}
footer #f-BigColumnDiv #f-OurCompanyColumn #f-FooterLinks ul li {
  list-style-type: none;
  font-weight: 300;
  margin: none;
}
footer #f-BigColumnDiv #f-OurCompanyColumn #f-FooterLinks ul li a {
  color: #ffffff;
  text-decoration: none;
}
footer #f-BigColumnDiv #f-OurCompanyColumn #f-FooterLinks ul li a:hover {
  text-decoration: underline;
}
footer #f-BigColumnDiv #f-ContactUsColumn {
  width: 30%;
}
footer #f-BigColumnDiv #f-ContactUsColumn p {
  color: #ffffff;
}
footer .f-FooterIconContainer {
  display: flex;
  align-items: center;
}
footer .f-FooterIconContainer i {
  font-size: 3em;
}
footer .f-FooterIconContainer p {
  padding-left: 0.5em;
  color: #ffffff;
}

.f-TabPanel {
  background-color: #f3f3f3;
  padding: 1em;
  flex-grow: 1;
}
.f-TabPanel #f-FeatureMainImage {
  padding: 1em 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 18px -2px #bebebe;
  box-shadow: 0 5px 18px -2px #bebebe;
}
.f-TabPanel .f-FeatureImagesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.f-TabPanel .f-FeatureImagesContainer .f-FeatureCard {
  width: 40%;
  padding: 1em;
  margin: 2em 0;
}
.f-TabPanel .f-FeatureImagesContainer .f-FeatureCard #f-FeatureImage {
  width: 100%;
}

#f-AboutHeader {
  background-image: url("./Images/about-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
}
#f-AboutHeader .f-Overlay {
  background-color: #067f95b6;
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
}
#f-AboutHeader .f-Overlay #f-HeaderWrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}
#f-AboutHeader .f-Overlay #f-HeaderWrapper h2 {
  font-size: 3em;
  color: #ffffff;
  letter-spacing: 2px;
}
#f-AboutHeader .f-Overlay #f-HeaderWrapper h3 {
  color: #f3f3f3;
}
#f-AboutHeader .f-Overlay #f-HeaderWrapper #f-AboutButtonDiv {
  width: 100%;
  display: flex;
  padding: 1em 0;
}

#f-BlockBulletPointWrapper {
  width: 100%;
  padding-bottom: 4em;
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#f-BlockBulletPointWrapper #f-BlockBulletPoint {
  display: block;
  background-color: #068095;
  color: #ffffff;
  padding: 1em;
  margin: 1em;
  width: 20%;
  border-radius: 4px;
}
#f-BlockBulletPointWrapper #f-BlockBulletPoint i {
  font-size: 4em;
}

#f-TeamDiv {
  width: 100%;
  padding: 2em 0;
  margin-top: 4em;
  background-color: #f3f3f3;
}
#f-TeamDiv #f-CEOIntro {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  position: relative;
  padding: 2em 1em;
}
#f-TeamDiv #f-CEOIntro #f-CEOIntroText {
  padding: 1em;
  border-radius: 4px;
  color: #7d7d7d;
}
#f-TeamDiv #f-CEOIntro #f-ChairpersonAvatar {
  width: 30%;
  height: auto;
  border-radius: 85px;
}

#f-TeamsContainer {
  display: block;
  padding-top: 3em;
  margin: 6em auto;
}
#f-TeamsContainer .f-TeamTypeContainer {
  display: block;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1em 0;
}
#f-TeamsContainer .f-TeamTypeContainer h3 {
  letter-spacing: 1.5px;
  color: #732c4e;
}
#f-TeamsContainer .f-TeamTypeContainer .f-EmployeeCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  background-color: #732c4e;
  box-shadow: -2px 3px 10px -3px #111111;
}

#f-EmployeeCard {
  width: auto;
  padding: 1em;
  margin: 1em;
  border-radius: 7px;
}
#f-EmployeeCard #f-EmployeeAvatar {
  margin: 0.5em auto;
  width: 120px;
  height: 120px;
  border-radius: 4%;
}
#f-EmployeeCard h4, #f-EmployeeCard p {
  color: #ffffff;
}

.f-HeaderImage {
  height: 50vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./Images/contact-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -6;
}

#f-ContactBodyContainer {
  width: 70%;
  max-width: 90%;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 12em;
  padding: 1em 0.5em;
  height: 50%;
  padding-bottom: 10em;
  display: block;
  box-shadow: 0px -10px 14px -9px #515151;
}
#f-ContactBodyContainer p {
  width: 70%;
  padding-bottom: 2em;
}
#f-ContactBodyContainer #f-ContactWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactIconWrapper {
  width: 30%;
  margin: 0 auto;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactIconWrapper .f-ContactIconContainer {
  display: flex;
  align-items: center;
  margin: 1em 0;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactIconWrapper .f-ContactIconContainer i {
  font-size: 3em;
  color: #068095;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactIconWrapper .f-ContactIconContainer h4 {
  padding-left: 2em;
  color: #393939;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactFormWrapper {
  width: 40%;
  margin: 0 auto;
  text-align: right;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactFormWrapper form {
  display: block;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactFormWrapper form .f-ContactFormInput {
  width: 90%;
  margin-bottom: 1em;
}
#f-ContactBodyContainer #f-ContactWrapper #f-ContactFormWrapper form .f-ContactFormInput .f-FormField {
  background-color: #f3f3f3;
  margin-bottom: 1em;
  border-radius: 4px;
}

#f-PrivacyPolicyBody {
  padding: 2em 0.5em;
}

#f-DownloadsContainer {
  display: flex;
  flex-grow: 1;
  padding: 2em 0.5em;
}

#f-MobileMenuButton {
  z-index: 99;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.f-MobileMenu {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 18px;
}
.f-MobileMenu #f-MobileLinksWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  height: auto;
  list-style: none;
  background-color: #ffffff;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 55px;
  left: 0;
}
.f-MobileMenu #f-MobileLinksWrapper hr {
  width: 100%;
  color: #067f95b6;
}
.f-MobileMenu #f-MobileLinksWrapper a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s linear;
  color: #7d7d7d;
  margin: 0 0.8em;
}

@media only screen and (max-width: 768px) {
  .f-h1 {
    font-size: 4.5em;
  }

  .f-h3 {
    font-size: 2em;
  }

  #f-NavigationBar #f-NavbarLogo {
    width: 45%;
  }

  #f-BigLogoContainer {
    flex-direction: column;
    background-size: auto;
    justify-content: center;
  }
  #f-BigLogoContainer #f-BigLogo {
    margin: 0 auto;
    width: 80%;
  }
  #f-BigLogoContainer #f-BigLogoContainer-Text {
    width: 80%;
    margin: 0 auto;
  }

  #f-CardContainer {
    display: block;
  }

  .f-LottieMediaCard {
    width: 80%;
    margin: 0 auto;
  }

  #f-PartnerLogosContainer {
    width: 90%;
    padding: 0;
  }
  #f-PartnerLogosContainer #f-PartnerLogosContainer-Logos .f-PartnerLogo {
    width: 20vw;
  }

  #f-ContactUsButtonContainer {
    padding: 2em;
    display: block;
  }
  #f-ContactUsButtonContainer #f-LottieDiv {
    width: 80%;
    margin: 0 auto;
  }

  #f-CardMediaMobile {
    width: 50%;
  }

  footer {
    padding: 3em 0.5em;
  }
  footer #f-BigColumnDiv {
    display: block;
  }
  footer #f-BigColumnDiv #f-LogoColumn, footer #f-BigColumnDiv #f-OurCompanyColumn, footer #f-BigColumnDiv #f-ContactUsColumn {
    width: 80%;
  }
}

/*# sourceMappingURL=app.css.map */
