$wh: #ffffff;
$trans-wh: #ffffffc2;
$grey-dark: #7d7d7d;
$grey-light: #f3f3f3;
$logo-blue: #068095;
$logo-trans-blue: #067f95b6;
$logo-purple: #732c4e;
$logo-green: #b8d30c;
$logo-peach: #f0ad8c;
$roboto: 'Roboto', sans-serif;

body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.f-h1 {
    font-size: 4em;
    font-family: $roboto;
}

.f-h2 {
    font-size: 2em;
    font-family: $roboto;
    color: $grey-dark;
}

.f-h3 {
    font-size: 1.5em;
    font-family: $roboto;
}

.f-h4 {
    font-size: 1.2em;
    font-family: $roboto;
    font-weight: 300;
}

.f-p {
    font-size: 1em;
    font-family: $roboto;
}

.f-i {
    font-style: italic;
}

.f-b {
    font-weight: 800;
}

.f-TextCenter {
    text-align: center;
}

.f-TextLeft {
    text-align: left;
}

.f-MarginAuto {
    margin: 0 auto;
}

.f-BlueFont {
    color: $logo-blue;
}

.f-CheckListIcon {
    color: $logo-green;
}

.f-BulletPointIcon {
    color: $logo-purple;
}

.f-SectionTitle {
    width: 70%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 4em;
}

.f-Lottie {
    width: 30%;
    margin: 0 1em;
}

#f-Navbar {
    background-color: $wh;
}

#f-AppBar {
    width: 100%;
    background-color: $trans-wh;
    display: flex;
    align-items: center;
    padding: 0 .5em;

    #f-Toolbar {
        display: flex;
        align-items: center;

        // Logo-Sm.png
        #f-NavBarLogo {
            width: 25%;
            // height: auto;
            // max-width: auto;
            // max-height: auto;
            object-fit: contain;

            img {
                width: 100%;
            }
        }
    }

    #f-NavBarLinkDiv {
        display: flex;

        .f-AppBarLinks {
            color: $logo-blue;
            font-family: $roboto;
            text-decoration: none;
            font-weight: bold;
            font-size: 100%;
            padding: .5em;
            margin: .8em;
            border-bottom: 2px solid transparent;
            transition: all 200ms ease-in-out;

            &:hover {
                border-bottom: 2px solid $logo-blue;
            }
        }
    }

    #f-LoginBtn {
        background-color: $logo-blue;
        color: $wh;
        margin: .8em;
        transition: .7s ease-in background-color;
        transition: .2s ease-in color;

        &:hover {
            background-color: $logo-green;
            color: $grey-dark;
        }
    }
}

#f-ModalContainer {
    padding: 1em;

    #f-ModalLogo {
        width: 50%;
        margin: auto;
    }

    #f-ModalButtonDiv {
        width: 100%;
        margin: 0 auto;
        display: block;

        .f-ModalButton {
            width: 100%;
            background-color: $grey-dark;
            color: $wh;
            margin: 1em 0;
            transition: .5s ease background-color;

            &:hover {
                background-color: $logo-blue;
            }
        }
    }
}

#f-BigLogoContainer {
    background-image: url("./Images/index-bgImg.png");
    background-position: center;
    background-size: cover;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    display: flex;
    padding: 0 .5em;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;

    #f-BigLogo {
        width: 30%;
        border-radius: 7px;
        box-shadow: -2px 3px 10px -3px #111111;
    }

    #f-BigLogoContainer-Text {
        width: 50%;
        font-family: $roboto;
        color: $grey-dark;
        background: -webkit-linear-gradient(#068095,  #732c4e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#f-CardContainer {
    width: 100%;
    padding: 3em 0;
    background-color: #068095;
    display: flex;
    justify-content: space-evenly;

    .f-Card {
        width: 20%;
        background-color: #068095;
        border: none;
        transition: none;
        box-shadow: none;

        .f-CardMedia {
            width: 20%;
        }

        .f-Title {
            font-family: $roboto;
            color: $wh;
            // text-transform: capitalize;
        }
    }
}

#f-PartnerLogosContainer {
    background-image: url("./Images/index-bgImg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: 12em auto;
    display: block;
    padding: 3em;
    // box-shadow: inset 0px 0px 14px 7px #FFFFFF;
    box-shadow: inset 0px 0px 30px 18px #FFFFFF; 
    border-radius: 10px;

    #f-PartnerLogosContainer-Heading {
        h2 {
            text-align: center;
            color: $grey-dark;
        }
    }

    #f-PartnerLogosContainer-Logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .f-PartnerLogo {
            width: 8vw;
            padding: 1em;
            margin: 0 2em;
        }
    }
}

#f-TestimonialContainer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .f-TestimonialWrapperDiv {
        width: 30%;
        margin: 0 15px;

        .f-TestimonialCard {
            width: 80%;
            // height: auto;
            margin: 5% auto;
            background: $grey-light;        
            text-align: center;
            padding: 1em;
        }
    }
}

#f-ButtonDiv {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

    #f-LottieDiv {
        width: 30%;
    }
}

#f-ContactUsButton {
    background-color: $logo-blue;
    font-family: $roboto;
    padding: 1em;
    display: flex;
    justify-content: center;
    outline: 0;
    border: none;
    border-radius: 4px;
    color: $wh;
    box-shadow: -2px 3px 10px -3px #111111;
    transition: transform ease 1s;
    transition: .5s ease background-color;
    transition: .5s ease color;

    &:hover {
        cursor: pointer;
        background-color: $wh;
        color: $logo-blue;
        transform: scale(1.01);
    }
}

footer {
    background-color: #068095;
    color: $wh;
    padding: 7em 3em;
    font-family: $roboto;

    #f-BigColumnDiv {
        width: 80%;
        flex-grow: 1;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-content: flex-start;

        .f-FooterColumn {
            margin: 0 2em;
        }

        #f-LogoColumn {
            width: 30%;

            img {
                margin: 1em auto;
                width: 90%;
            }
        }

        #f-OurCompanyColumn {
            width: 20%;
            display: block;

            #f-FooterLinks {
                
                ul {
                    padding: 0;

                    li {
                        list-style-type: none;
                        font-weight: 300;
                        margin: none;
                        
                        a {
                            color: $wh;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        #f-ContactUsColumn {
            width: 30%;
        }
    }

    .f-FooterIconContainer {
        display: flex;
        align-items: center;

        i {
            font-size: 3em;
        }

        h4 {
            padding-left: .5em;
        }
    }
}

// --------------------- Features ---------------------

#f-FeaturesBody {
    
}

.f-TabPanel {
    background-color: $grey-light;
    padding: 1em;
    flex-grow: 1;

    #f-FeatureMainImage {
        padding: 1em 0;
    }

    .f-FeatureImagesContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .f-FeatureCard {
            width: 40%;
            padding: 1em;
            margin: 2em 0;

            #test {
                width: 100%;
            }
        }
    }
}

// ------------------------ About ----------------------

#f-AboutHeader {
    background-image: url("./Images/about-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;

    .f-Overlay {
        background-color: $logo-trans-blue;
        height: 100%;
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;

        #f-HeaderWrapper {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            align-items: center;

            h2 {
                font-size: 3em;
                color: $wh;
                letter-spacing: 2px;
            }

            h3 {
                color: $grey-light;
            }
    
            #f-AboutButtonDiv {
                width: 100%;
                display: flex;
                padding: 1em 0;
            }
        }
    }
}

#f-ProductOverview {
    width: 70%;    
}

#f-BlockBulletPointWrapper {
    width: 100%;
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    #f-BlockBulletPoint {
        display: block;
        background-color: $logo-blue;
        color: $wh;
        padding: 1em;
        margin: 1em;
        text-align: center;
        width: 20%;
        border-radius: 4px;

        i {
            font-size: 4em;
        }
    }
}

#f-TeamDiv {
    width: 100%;
    padding: 1em 0;
    margin-top: 6em;
    background-color: $logo-trans-blue;

    #f-TeamWrapper {
        width: 70%;
        margin: auto;
    }
}

#f-EmployeeBody {
    display: block;
    width: 100%;

    .f-EmployeeTeamContainer {
        display: block;
        background-color: $trans-wh;
        border-radius: 3px;
        padding: 2em;
        margin: 2em;

        h3 {
            letter-spacing: 1.5px;
        }

        .f-EmployeeCardContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
        }
    }
}

.f-EmployeeCard {
    width: 10vw;
    padding: 1em;
    margin: 2em auto;
    display: block;
    background-color: #068095;
    border-radius: 7px;
    box-shadow: -2px 3px 10px -3px #111111;

    .f-EmployeeAvatar {
        margin: .5em auto;
        width: 120px;
        height: auto;
    }

    h4, p {
        color: $wh;
    }
}

// ------------------------ Contact Us ----------------------

.f-HeaderImage {
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./Images/contact-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -6;
}

#f-ContactBodyContainer {
    width: 70%;
    background-color: $wh;
    margin: 0 auto;
    margin-top: 12em;
    padding: 1em .5em;
    height: 50%;
    padding-bottom: 10em;
    display: block;
    box-shadow: 0px -10px 14px -9px #515151;

    #f-ContactWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: flex-start;    

        #f-ContactIconWrapper {
            width: 30%;
            margin: 0 auto;

            .f-ContactIconContainer {
                display: flex;
                align-items: center;
                margin: 1em 0;

                i {
                    font-size: 3em;
                    color: $logo-blue;
                }

                h4 {
                    padding-left: 2em;
                }
            }
        }

        #f-ContactFormWrapper {
            width: 40%;
            margin: 0 auto;
            text-align: right;

            form {
                display: block;

                .f-ContactFormInput {
                    width: 90%;
                    margin: 2.33em auto;
                    margin-bottom: 2em;
                }

                button {
                    background-color: $logo-blue;
                    color: $wh;
                    margin-right: 2em;
                }
            }
        }
    }
}

// --------------------- Privacy Policy ----------------------

#f-PrivacyPolicyBody {
    padding: 2em .5em;

    #f-PrivacyPolicyAccordion {
        margin: 2em auto;

        .f-PolicyTitle {
            color: $logo-blue;
            font-weight: 500;
        }
    }
}

// -------------------- Mobile Menu -------------------------

#f-MobileMenuButton {
    z-index: 99;
    cursor: pointer;
}

.f-MobileMenu {
    height: 100%;
    display: flex;
    align-items: center;

    #f-MobileLinksWrapper {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        list-style: none;
        background-color: $logo-green;
        width: 100%;
        flex-direction: column;
        position: fixed;
        top: 65px;
        left: 0;

        a {
            font-size: 1rem;
            font-family: $roboto;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s linear;
            color: $grey-dark;
            margin: 0 .8em;
        }
    }
}

@media only screen and (max-width: 600px) {
    .f-MobileMenu {
        width: 100%;

        a {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}