body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.f-h1 {
  font-size: 4em;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #732c4e;
  line-height: 1.1em;
  letter-spacing: -0.035em;
}

.f-h2 {
  font-size: 3em;
  font-family: "Inter", sans-serif;
  color: #7d7d7d;
  margin: 0;
  padding-top: 1em;
  font-weight: 800;
  color: #732c4e;
  line-height: 1.2em;
  letter-spacing: -0.035em;
}

.f-h3 {
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.f-h4 {
  font-size: 1.2em;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.f-h4 a {
  text-decoration: none;
  color: #393939;
}

.f-p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #393939;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.f-p a {
  text-decoration: none;
  color: #ffffff;
}

.f-BlueFont {
  color: #068095;
}

.f-i {
  font-style: italic;
}

.f-b {
  font-weight: 800;
}

.f-TextCenter {
  text-align: center;
}

.f-TextLeft {
  text-align: left;
}

.f-MarginAuto {
  margin: 0 auto;
}

.f-CheckListIcon {
  color: #b8d30c;
}

.f-BulletPointIcon {
  color: #732c4e;
}

.f-Button {
  background-color: #068095;
  color: #ffffff;
  padding: 0.8em;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin: 0.8em;
  transition: 0.3s ease-in background-color, 0.2s ease-in color;
  text-transform: uppercase;
}
.f-Button:hover {
  background-color: #b8d30c;
  color: #7d7d7d;
}

.f-SectionTitle {
  width: 70%;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 4em;
}

.f-Lottie {
  width: 30%;
  margin: 0 1em;
}

#f-NavBarLinkDiv {
  display: flex;
}
#f-NavBarLinkDiv .is-active {
  border-bottom: 2px solid #068095;
}
#f-NavBarLinkDiv .f-AppBarLinks {
  color: #068095;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  padding: 0.5em;
  margin: 0.8em;
  transition: all 200ms ease-in-out;
}
#f-NavBarLinkDiv .f-AppBarLinks:hover {
  border-bottom: 2px solid #068095;
}

#f-NavigationBar {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
#f-NavigationBar #f-NavbarLogo {
  width: 25%;
}

#f-PartnerLogosContainer {
  width: 80%;
  margin: 7em auto;
  display: block;
  padding: 3em;
}
#f-PartnerLogosContainer #f-PartnerLogosContainer-Logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#f-PartnerLogosContainer #f-PartnerLogosContainer-Logos .f-PartnerLogo {
  width: 8vw;
  padding: 1em;
  margin: 0 2em;
}

#f-test {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.swiper-container {
  width: 80%;
  margin: 0 auto;
  color: transparent;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-wrapper {
  padding-inline-start: 0;
  display: flex;
}

.swiper-button-prev, .swiper-button-next {
  color: #068095 !important;
}

.swiper-pagination-bullet {
  background-color: #068095 !important;
}

.f-testimonialBackground {
  width: 100%;
  background-color: #E8DCE2;
  padding: 3em 0;
}
.f-testimonialBackground .f-TestimonialCard {
  width: 60%;
  padding: 1.5em;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
  background-color: #8A4F6C;
  color: #ffffff;
  border-radius: 14px;
}
.f-testimonialBackground .f-TestimonialCard #f-TestimonialCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-testimonialBackground .f-TestimonialCard #f-TestimonialCardHeader #f-TestimonialHeaderDetails {
  display: block;
  text-align: left;
}
.f-testimonialBackground .f-TestimonialCard p {
  color: #ffffff;
  font-weight: 300;
}
.f-testimonialBackground .f-TestimonialCard:nth-child(even) {
  background-color: #732c4e;
}

#f-ContactUsButtonContainer {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#f-ContactUsButtonContainer #f-LottieDiv {
  width: 30%;
}

.f-TabPanel {
  background-color: #f3f3f3;
  padding: 1em;
  flex-grow: 1;
}
.f-TabPanel #f-FeatureMainImage {
  padding: 1em 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 18px -2px #bebebe;
  box-shadow: 0 5px 18px -2px #bebebe;
}
.f-TabPanel .f-FeatureImagesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.f-TabPanel .f-FeatureImagesContainer .f-FeatureCard {
  width: 40%;
  padding: 1em;
  margin: 2em 0;
}
.f-TabPanel .f-FeatureImagesContainer .f-FeatureCard #f-FeatureImage {
  width: 100%;
}

#f-BlockBulletPointWrapper {
  width: 100%;
  padding-bottom: 4em;
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#f-BlockBulletPointWrapper #f-BlockBulletPoint {
  display: block;
  background-color: #068095;
  color: #ffffff;
  padding: 1em;
  margin: 1em;
  width: 20%;
  border-radius: 4px;
}
#f-BlockBulletPointWrapper #f-BlockBulletPoint i {
  font-size: 4em;
}

#f-TeamDiv {
  width: 100%;
  padding: 2em 0;
  margin-top: 4em;
  background-color: #f3f3f3;
}
#f-TeamDiv #f-CEOIntro {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  position: relative;
  padding: 2em 1em;
}
#f-TeamDiv #f-CEOIntro #f-CEOIntroText {
  padding: 1em;
  border-radius: 4px;
  color: #7d7d7d;
}
#f-TeamDiv #f-CEOIntro #f-ChairpersonAvatar {
  width: 30%;
  height: auto;
  border-radius: 85px;
}

#f-PrivacyPolicyBody {
  padding: 2em 0.5em;
}

#f-DownloadsContainer {
  display: flex;
  flex-grow: 1;
  padding: 2em 0.5em;
}

#f-MobileMenuButton {
  z-index: 99;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 768px) {
  .f-h1 {
    font-size: 4.5em;
  }

  .f-h3 {
    font-size: 2em;
  }

  #f-NavigationBar #f-NavbarLogo {
    width: 45%;
  }

  #f-BigLogoContainer {
    flex-direction: column;
    background-size: auto;
    justify-content: center;
  }
  #f-BigLogoContainer #f-BigLogo {
    margin: 0 auto;
    width: 80%;
  }
  #f-BigLogoContainer #f-BigLogoContainer-Text {
    width: 80%;
    margin: 0 auto;
  }

  #f-CardContainer {
    display: block;
  }

  .f-LottieMediaCard {
    width: 80%;
    margin: 0 auto;
  }

  #f-PartnerLogosContainer {
    width: 90%;
    padding: 0;
  }
  #f-PartnerLogosContainer #f-PartnerLogosContainer-Logos .f-PartnerLogo {
    width: 20vw;
  }

  #f-ContactUsButtonContainer {
    padding: 2em;
    display: block;
  }
  #f-ContactUsButtonContainer #f-LottieDiv {
    width: 80%;
    margin: 0 auto;
  }

  #f-CardMediaMobile {
    width: 50%;
  }
}

/*# sourceMappingURL=app.css.map */
